*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    position: relative;
    min-height: 60vh;
    color: white;
    background: url(/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.headline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}

.btn{
    display: inline;
    outline: none;
    border: none;
    cursor: pointer;


}
.btn-headline{
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.todo-section{
    margin-top: 5rem;
    text-align: center;

}
.todo-list{
    text-align: left;
    list-style-type: none;
    font-size: 1.2rem;
}
.todo-list li{
    padding: .7rem;
    background-color: grey;
    color: cyan;
    margin-top: 1rem;
}

.bg-dark{
    background-color: black;
    color: white;
}
.form-todo{
     /* border: 2px solid red;  */
    min-height: 4vh;
    display: flex;
justify-content: space-between;
}
.form-todo input{
    min-height:100% ;
    margin-top: 1rem ;
    
}

.form-todo input[type ="text"]{
    width: 78%;
padding: .9rem;
font-size: 1rem;
}

.form-todo input[type ="submit"]{
    width: 20%;
    background: rgb(44,55,62);
    color: white;
}


.section-signup {
    text-align: center;
    margin: 5rem auto;
}
.signup-form label{
    font-weight: bold;
    font-size: 1rem;
    display: block ;
    margin-top: 1rem;
    text-align: left;
}


.signup-form input{
    display: block;
    width: 100%;
min-width:95%;
text-align: center;
padding: 1rem;
}

.signup-form{
    
    text-align: center;
}

.signup-form textarea{
    width: 100%;
    min-width:95%;
    border: none;
}


.signup-btn{
    background-color:rgb(26, 26, 27) ;
    padding: 1rem;
    color: white;
    text-align: center;
    
}


.form-group{
    margin-top: 1rem;
    
}